<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <style>
      body {
        margin: 0;
        line-height: normal;
      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Serif KR:wght@400;500&display=swap"
    />
  </head>
  <body>
    <div
      style="
        position: relative;
        background-color: #fff;
        width: 100vw;
        height: 3912px;
        overflow: hidden;
        text-align: left;
        font-size: 15px;
        color: #000;
        font-family: Montserrat;
      "
    >
      <img
        style="
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100vw;
          height: 795px;
          object-fit: cover;
        "
        alt=""
        src="./../static/images/MainBG.png"
      />
      <div
        style="
          position: absolute;
          top: 0px;
          left: 0px;
          background-color: rgba(217, 217, 217, 0);
          width: 100vw;
          height: 65px;
        "
      ></div>
      <div
        style="position: absolute; top: 19px; right: 220px; font-weight: 500"
      >
        {% if user.is_authenticated %}

            <a style="
          color: #000;
          text-decoration: none;
        " href="{% url 'logout' %}">Log Out</a><a style="
          color: #000;
          margin-left: 10px;
          text-decoration: none;
        " href="{% url 'chat_list' %}">Chat</a>
        {% else %}

            <a style="
          color: #000;
          text-decoration: none;
        " href="{% url 'login' %}">Log In</a>
        {% endif %}
      </div>
        <div
        style="position: absolute; top: 19px; right: 100px; font-weight: 500"
      ><a style="
          color: #000;
          text-decoration: none;
        " href="{% url 'register' %}">Sign-in</a>

      </div>
      <div style="position: absolute; top: 19px; left: 935px; font-weight: 500">
          <a style="
          color: #000;
          text-decoration: none;
        "
              href="/api/posts/">Пожертвовать</a>

      </div>
      <div
        style="
          position: absolute;
          top: 19px;
          left: 567px;
          width: 80px;
          height: 26px;
        "
      >
        <div style="position: absolute; top: 0px; left: 0px; font-weight: 500">
          Просмотр
        </div>
        <img
          style="
            position: absolute;
            top: 24.69px;
            left: 0px;
            width: 80px;
            height: 2.61px;
          "
          alt=""
          src="public/vector-1.svg"
        />
      </div>
      <div
        style="
          position: absolute;
          top: 123px;
          left: 211px;
          width: 515px;
          height: 2329.13px;
          font-size: 73.36px;
          font-family: 'Noto Serif KR';
        "
      >
        <img
          style="
            position: absolute;
            top: 2261px;
            left: 24px;
            width: 73px;
            height: 68.13px;
          "
          alt=""
          src="./../static/images/Ellipse3.png"
        /><img
          style="
            position: absolute;
            top: 0px;
            left: 0px;
            width: 515px;
            height: 515px;
          "
          alt=""
          src="./../static/images/Ellipse.png"
        />
        <div
          style="
            position: absolute;
            top: 132px;
            left: 119px;
            line-height: 101.2%;
          "
        >
          <p style="margin-block-start: 0; margin-block-end: 0px">Помощь</p>
          <p style="margin: 0">детям</p>
        </div>
      </div>
      <div
        style="
          position: absolute;
          top: 403px;
          left: 330px;
          font-size: 22.85px;
          font-family: 'Noto Serif KR';
          display: inline-block;
          width: 255px;
        "
      >

        с инвалидностью по всему миру
      </div>
      <img
        style="
          position: absolute;
          top: 573px;
          left: 964px;
          width: 95px;
          height: 95px;
        "
        alt=""
        src="./../static/images/Ellipse3.png"
      /><img
        style="
          position: absolute;
          top: 715px;
          left: 764px;
          width: 141px;
          height: 141px;
        "
        alt=""
        src="./../static/images/Ellipse.png"
      /><img
        style="
          position: absolute;
          top: 168px;
          left: 1284px;
          width: 156px;
          height: 156px;
        "
        alt=""
        src="./../static/images/Ellipse3.png"
      /><img
        style="
          position: absolute;
          top: 677px;
          left: 0px;
          width: 118px;
          height: 118px;
        "
        alt=""
        src="./../static/images/Ellipse3.png"
      /><img
        style="
          position: absolute;
          top: 18px;
          left: 160px;
          width: 28px;
          height: 27.95px;
          object-fit: cover;
        "
        alt=""
        src="./../static/images/logo.png"
      />
      <div style="position: absolute; top: 21px; left: 196px; font-weight: 500">
          <a style="
          color: #000;
          text-decoration: none;
        " href="/">Жаңы дем</a>

      </div>
      <img
        style="
          position: absolute;
          top: 548px;
          left: 1217px;
          width: 223px;
          height: 308px;
          object-fit: cover;
        "
        alt=""
        src="./../static/images/super.png"
      />
      <div
        style="
          position: absolute;
          top: 809px;
          left: 1000px;
          width: 192px;
          height: 66.69px;
          font-size: 15.67px;
        "
      >
        <div
          style="
            position: absolute;
            top: 0px;
            left: 0px;
            border-radius: 27.43px;
            background-color: rgba(175, 105, 163, 0.69);
            width: 192px;
            height: 66.69px;
          "
        ></div>
        <div
          style="
            position: absolute;
            top: 24.29px;
            left: 43.89px;
            font-weight: 500;
          "
        >
          Хочу помочь
        </div>
      </div>
      <div
        style="
          position: absolute;
          top: 827px;
          left: 237px;
          font-size: 15.67px;
          font-weight: 500;
          color: inherit;
        "
      >
        <p style="margin-block-start: 0; margin-block-end: 0px">
          <a style="color: inherit" href="tel:+996550661177" target="_blank"
            ><span style="text-decoration: underline"
              >0 (550) 661-177</span
            ></a
          >
        </p>
        <p style="margin-block-start: 0; margin-block-end: 0px">
          Свзязаться с нами
        </p>
      </div>
      <div
        style="
          position: absolute;
          top: 900px;
          left: 0px;
          background-color: #fff;
          width: 100vw;
          height: 900px;
        "
      ></div>
      <div
        style="
          position: absolute;
          top: 1800px;
          left: 0px;
          background-color: rgba(178, 227, 236, 0.57);
          width: 100vw;
          height: 900px;
        "
      ></div>
      <div
        style="
          position: absolute;
          top: 2561px;
          left: 629px;
          width: 318px;
          height: 73.44px;
          font-size: 26.76px;
          font-family: 'Noto Serif KR';
        "
      >
        <div
          style="
            position: absolute;
            top: 0px;
            left: 0px;
            border-radius: 16.89px;
            background-color: #66ffff;
            width: 318px;
            height: 73.44px;
          "
        ></div>
        <div style="position: absolute; top: 17.63px; left: 88.86px">
          Просмотр
        </div>
      </div>
      <img
        style="
          position: absolute;
          top: 1903px;
          left: 1040px;
          width: 95px;
          height: 95px;
        "
        alt=""
        src="./../static/images/Ellipse.png"
      /><img
        style="
          position: absolute;
          top: 1445px;
          left: 476.5px;
          width: 1px;
          height: 103px;
        "
        alt=""
        src="./../static/images/Ellipse3.png"
      />
      <div
        style="
          position: absolute;
          top: 939px;
          left: 652px;
          font-size: 51.67px;
          font-weight: 600;
        "
      >
        О фонде
      </div>
      <div
        style="
          position: absolute;
          top: 1050px;
          left: 162px;
          font-size: 27.42px;
          font-weight: 500;
          display: inline-block;
          width: 554.82px;
          height: 347px;
        "
      >
        <p style="margin-block-start: 0; margin-block-end: 0px">
          Благотворительный фонд «Жаңы дем» создан для оказания помощи детям с
          заболеваниями, которые способна победить современная медицина.
        </p>
        <p style="margin-block-start: 0; margin-block-end: 0px">&nbsp;</p>
        <p style="margin: 0">
          Мы хотим побудить людей принять участие в судьбе каждого ребенка, на
          долю которого выпало серьезное испытание.
        </p>
      </div>
      <div
        style="
          position: absolute;
          top: 1445px;
          left: 169px;
          font-size: 84.72px;
          font-weight: 600;
          color: #9e00ff;
          display: inline-block;
          width: 405px;
        "
      >
        12 304
      </div>
      <div
        style="
          position: absolute;
          top: 1445px;
          left: 550px;
          font-size: 84.72px;
          font-weight: 600;
          color: #9e00ff;
          display: inline-block;
          width: 103px;
        "
      >
        18
      </div>
      <div
        style="
          position: absolute;
          top: 1574px;
          left: 162px;
          font-size: 26.55px;
          display: inline-block;
          width: 281px;
        "
      >
        Детей получили помощь блягодоря вам
      </div>
      <div
        style="
          position: absolute;
          top: 1574px;
          left: 510px;
          font-size: 26.55px;
          display: inline-block;
          width: 216px;
        "
      >
        Лет мы вместе спасаем жизни
      </div>
      <img
        style="
          position: absolute;
          top: 1050px;
          left: 771px;
          width: 669px;
          height: 356px;
          object-fit: cover;
        "
        alt=""
        src="./../static/images/Onkologiya-u-rebenka.png"
      />
      <div
        style="
          position: absolute;
          top: 1816px;
          left: 501px;
          font-size: 45.92px;
          font-family: 'Noto Serif KR';
        "
      >
        Им нужна ваша помощь
      </div>
      <div
        style="
          position: absolute;
          top: 2250px;
          left: 270px;
          width: 517.84px;
          height: 251.03px;
          font-size: 19.62px;
          font-family: 'Noto Serif KR';
        "
      >
        <div
          style="
            position: absolute;
            top: 32.62px;
            left: 250.61px;
            display: inline-block;
            width: 62.22px;
            height: 24.98px;
          "
        >
          14 лет
        </div>
        <img
          style="
            position: absolute;
            top: 0px;
            left: 0px;
            width: 196.9px;
            height: 175.06px;
            object-fit: cover;
          "
          alt=""
          src="./../static/images/screen4.png"
        />
        <div
          style="
            position: absolute;
            top: 0px;
            left: 250.61px;
            display: inline-block;
            width: 122.43px;
            height: 24.98px;
          "
        >
          Ринал
        </div>
        <div
          style="
            position: absolute;
            top: 65.13px;
            left: 250.89px;
            display: inline-block;
            width: 266.95px;
            height: 109.74px;
          "
        >
          ДЦП,спастическая диплегия
        </div>
        <div
          style="
            position: absolute;
            top: 182px;
            left: 37.59px;
            border-radius: 18.73px;
            background-color: #d96bff;
            width: 121.72px;
            height: 31.03px;
          "
        ></div>
        <div
          style="
            position: absolute;
            top: 188.37px;
            left: 53.7px;
            font-size: 10.44px;
            display: inline-block;
            width: 96.34px;
            height: 13.38px;
          "
        >
          Узнать подробнее
        </div>
        <div
          style="
            position: absolute;
            top: 220px;
            left: 37.59px;
            border-radius: 18.73px;
            background-color: #806bff;
            border: 0.9px solid #d96bff;
            box-sizing: border-box;
            width: 121.72px;
            height: 31.03px;
          "
        ></div>
        <div
          style="
            position: absolute;
            top: 226.37px;
            left: 65.23px;
            font-size: 10.44px;
            display: inline-block;
            width: 75.27px;
            height: 13.38px;
          "
        >
          47030 из 50000
        </div>
      </div>
      <div
        style="
          position: absolute;
          top: 1940px;
          left: 270px;
          width: 517.84px;
          height: 251.03px;
          font-size: 19.62px;
          font-family: 'Noto Serif KR';
        "
      >
        <div
          style="
            position: absolute;
            top: 32.62px;
            left: 250.61px;
            display: inline-block;
            width: 62.22px;
            height: 24.98px;
          "
        >
          14 лет
        </div>
        <img
          style="
            position: absolute;
            top: 0px;
            left: 0px;
            width: 196.9px;
            height: 175.06px;
            object-fit: cover;
          "
          alt=""
          src="./../static/images/screen3.png"
        />
        <div
          style="
            position: absolute;
            top: 0px;
            left: 250.61px;
            display: inline-block;
            width: 122.43px;
            height: 24.98px;
          "
        >
          Александр
        </div>
        <div
          style="
            position: absolute;
            top: 65.13px;
            left: 250.89px;
            display: inline-block;
            width: 266.95px;
            height: 109.74px;
          "
        >
          ДЦП,спастическая диплегия
        </div>
        <div
          style="
            position: absolute;
            top: 182px;
            left: 37.59px;
            border-radius: 18.73px;
            background-color: #d96bff;
            width: 121.72px;
            height: 31.03px;
          "
        ></div>
        <div
          style="
            position: absolute;
            top: 188.37px;
            left: 53.7px;
            font-size: 10.44px;
            display: inline-block;
            width: 96.34px;
            height: 13.38px;
          "
        >
          Узнать подробнее
        </div>
        <div
          style="
            position: absolute;
            top: 220px;
            left: 37.59px;
            border-radius: 18.73px;
            background-color: #806bff;
            border: 0.9px solid #d96bff;
            box-sizing: border-box;
            width: 121.72px;
            height: 31.03px;
          "
        ></div>
        <div
          style="
            position: absolute;
            top: 226.37px;
            left: 65.23px;
            font-size: 10.44px;
            display: inline-block;
            width: 75.27px;
            height: 13.38px;
          "
        >
          47030 из 50000
        </div>
      </div>
      <img
        style="
          position: absolute;
          top: 1849px;
          left: 1492px;
          width: 165px;
          height: 154px;
        "
        alt=""
        src="./../static/images/Ellipse.png"
      /><img
        style="
          position: absolute;
          top: 2522px;
          left: 1455px;
          width: 95px;
          height: 95px;
        "
        alt=""
        src="./../static/images/Ellipse.png"
      /><img
        style="
          position: absolute;
          top: 1882px;
          left: 0px;
          width: 159px;
          height: 159px;
        "
        alt=""
        src="./../static/images/Ellipse.png"
      />
      <div
        style="
          position: absolute;
          top: 2250px;
          left: 937px;
          width: 517.84px;
          height: 251.03px;
          font-size: 19.62px;
          font-family: 'Noto Serif KR';
        "
      >
        <div
          style="
            position: absolute;
            top: 32.62px;
            left: 250.61px;
            display: inline-block;
            width: 62.22px;
            height: 24.98px;
          "
        >
          14 лет
        </div>
        <img
          style="
            position: absolute;
            top: 0px;
            left: 0px;
            width: 196.9px;
            height: 175.06px;
            object-fit: cover;
          "
          alt=""
          src="./../static/images/screen.png"
        />
        <div
          style="
            position: absolute;
            top: 0px;
            left: 250.61px;
            display: inline-block;
            width: 122.43px;
            height: 24.98px;
          "
        >
          Данила
        </div>
        <div
          style="
            position: absolute;
            top: 65.13px;
            left: 250.89px;
            display: inline-block;
            width: 266.95px;
            height: 109.74px;
          "
        >
          ДЦП,спастическая диплегия
        </div>
        <div
          style="
            position: absolute;
            top: 182px;
            left: 37.59px;
            border-radius: 18.73px;
            background-color: #d96bff;
            width: 121.72px;
            height: 31.03px;
          "
        ></div>
        <div
          style="
            position: absolute;
            top: 188.37px;
            left: 53.7px;
            font-size: 10.44px;
            display: inline-block;
            width: 96.34px;
            height: 13.38px;
          "
        >
          Узнать подробнее
        </div>
        <div
          style="
            position: absolute;
            top: 220px;
            left: 37.59px;
            border-radius: 18.73px;
            background-color: #806bff;
            border: 0.9px solid #d96bff;
            box-sizing: border-box;
            width: 121.72px;
            height: 31.03px;
          "
        ></div>
        <div
          style="
            position: absolute;
            top: 226.37px;
            left: 65.23px;
            font-size: 10.44px;
            display: inline-block;
            width: 75.27px;
            height: 13.38px;
          "
        >
          47030 из 50000
        </div>
      </div>
      <div
        style="
          position: absolute;
          top: 1940px;
          left: 937px;
          width: 517.84px;
          height: 251.03px;
          font-size: 19.62px;
          font-family: 'Noto Serif KR';
        "
      >
        <div
          style="
            position: absolute;
            top: 32.62px;
            left: 250.61px;
            display: inline-block;
            width: 62.22px;
            height: 24.98px;
          "
        >
          14 лет
        </div>
        <img
          style="
            position: absolute;
            top: 0px;
            left: 0px;
            width: 196.9px;
            height: 175.06px;
            object-fit: cover;
          "
          alt=""
          src="./../static/images/screen2.png"
        />
        <div
          style="
            position: absolute;
            top: 0px;
            left: 250.61px;
            display: inline-block;
            width: 122.43px;
            height: 24.98px;
          "
        >
          Дарья
        </div>
        <div
          style="
            position: absolute;
            top: 65.13px;
            left: 250.89px;
            display: inline-block;
            width: 266.95px;
            height: 109.74px;
          "
        >
          ДЦП,спастическая диплегия
        </div>
        <div
          style="
            position: absolute;
            top: 182px;
            left: 37.59px;
            border-radius: 18.73px;
            background-color: #d96bff;
            width: 121.72px;
            height: 31.03px;
          "
        ></div>
        <div
          style="
            position: absolute;
            top: 188.37px;
            left: 53.7px;
            font-size: 10.44px;
            display: inline-block;
            width: 96.34px;
            height: 13.38px;
          "
        >
          Узнать подробнее
        </div>
        <div
          style="
            position: absolute;
            top: 220px;
            left: 37.59px;
            border-radius: 18.73px;
            background-color: #806bff;
            border: 0.9px solid #d96bff;
            box-sizing: border-box;
            width: 121.72px;
            height: 31.03px;
          "
        ></div>
        <div
          style="
            position: absolute;
            top: 226.37px;
            left: 65.23px;
            font-size: 10.44px;
            display: inline-block;
            width: 75.27px;
            height: 13.38px;
          "
        >
          47030 из 50000
        </div>
      </div>
      <div
        style="
          position: absolute;
          top: 2863px;
          left: 162px;
          font-size: 26.76px;
          font-family: 'Noto Serif KR';
          display: inline-block;
          width: 1278px;
        "
      >
        Жизнь бывает несправедливой и кажется, что нет никаких способов изменить
        её течение. Но наша помощь может стать лучиком надежды в темном мире
        больных детей. Каждый ребёнок заслуживает счастливой и здоровой жизни,
        но увы, не все могут наслаждаться этим благом. Мы можем изменить это,
        помогая собрать деньги на лечение и операции для тех, кому это
        необходимо. Каждое пожертвование денег может стать шансом на жизнь для
        этих детей и их семей. Подарите им этот шанс, чтобы они могли расти и
        развиваться, чтобы мечты стали реальностью и жизнь стала прекрасной.
        Нажмите на кнопку ниже, чтобы пожертвовать и стать частью этого важного
        дела.
      </div>
      <div
        style="
          position: absolute;
          top: 2744px;
          left: 451px;
          font-size: 52.26px;
          font-weight: 500;
          font-family: 'Noto Serif KR';
        "
      >
        Подарить ещё один вздох
      </div>
      <div
        style="
          position: absolute;
          top: 3205px;
          left: 470px;
          background-color: #806bff;
          width: 660px;
          height: 100px;
        "
      ></div>
      <div
        style="
          position: absolute;
          top: 3236px;
          left: 701px;
          font-size: 26.76px;
          font-family: 'Noto Serif KR';
          color: #fff;
        "
      >
        Хочу помочь
      </div>
      <div
        style="
          position: absolute;
          top: 3415px;
          left: 0px;
          background-color: #3f3f3f;
          width: 100vw;
          height: 497px;
        "
      ></div>
      <div
        style="
          position: absolute;
          top: 3538px;
          left: 270px;
          font-size: 21.93px;
          font-weight: 500;
          color: #fff;
          display: inline-block;
          width: 1071px;
          height: 234px;
        "
      >
        Этот сайт помогает детям с особенностями и повышенными потребностями
        получить доступ к медицинскому лечению без оглядки на социальный статус.
        Мы стремимся помочь этим детям получить необходимое лечение, чтобы они
        могли жить полноценной жизнью. Нажмите на кнопку "Пожертвовать", чтобы
        стать частью этой благородной миссии.
      </div>
      <div
        style="
          position: absolute;
          top: 3686px;
          left: 604px;
          font-size: 28.82px;
          font-weight: 500;
          font-family: 'Noto Serif KR';
          color: #fff;
        "
      >
        Вам необхадима помощь ?
      </div>
      <div
        style="
          position: absolute;
          top: 3747px;
          left: 563px;
          border-radius: 10px;
          background-color: #d9d9d9;
          width: 449px;
          height: 89px;
        "
      ></div>
      <div
        style="
          position: absolute;
          top: 3768px;
          left: 674px;
          font-size: 28.82px;
          font-family: 'Noto Serif KR';
        "
      ><a style="
          color: #000;
          text-decoration: none;
        "
              href="https://typebot.io/my-typebot-tqf8bpl">Напишите нам</a>

      </div>
      <div
        style="
          position: absolute;
          top: 3462px;
          left: 688px;
          font-size: 40.84px;
          font-weight: 600;
          color: #fff;
        "
      >
        Жаңы дем
      </div>
    </div>
  </body>
</html>
